.homepage #disabled {
  -webkit-animation: fadeOut 2.7s 300ms linear both;
          animation: fadeOut 2.7s 300ms linear both;
}

.loading-spinner {
  -webkit-animation: loading-spinner 2.7s 300ms linear both;
          animation: loading-spinner 2.7s 300ms linear both;
}

.btn-like .fa-solid {
  transform: scale(0);
  transform-origin: bottom;
  transition: transform 500ms;
  overflow: hidden;
}
.btn-like:hover .fa-solid, .btn-like:focus .fa-solid {
  transform: scale(1);
}

@media screen and (min-width: 1024px) {
  .result-list__card {
    transition: transform 300ms;
  }
  .result-list__card:hover {
    transform: scale(1.05);
  }
}
.dish .order-add {
  width: 0;
  transition: width 500ms 100ms;
}
.dish .order-add i {
  transform: rotate(0deg);
  transition: transform 500ms;
}
.dish:hover .order-add {
  width: 70px;
}
.dish:hover .order-add i {
  transform: rotate(360deg);
}
.dish__1 {
  -webkit-animation: fadeIn 1s linear both, closer 1s linear both;
          animation: fadeIn 1s linear both, closer 1s linear both;
}
.dish__2 {
  -webkit-animation: fadeIn 1s 300ms linear both, closer 1s linear both;
          animation: fadeIn 1s 300ms linear both, closer 1s linear both;
}
.dish__3 {
  -webkit-animation: fadeIn 1s 600ms linear both, closer 1s linear both;
          animation: fadeIn 1s 600ms linear both, closer 1s linear both;
}
.dish__4 {
  -webkit-animation: fadeIn 1s 900ms linear both, closer 1s linear both;
          animation: fadeIn 1s 900ms linear both, closer 1s linear both;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.6;
  }
  99% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.9;
  }
  70% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.6;
  }
  99% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@-webkit-keyframes loading-spinner {
  0% {
    transform: scale(0.5) rotate(0turn);
  }
  50% {
    transform: scale(1.5) rotate(1.5turn);
  }
  100% {
    transform: scale(0) rotate(3.5turn);
  }
}
@keyframes loading-spinner {
  0% {
    transform: scale(0.5) rotate(0turn);
  }
  50% {
    transform: scale(1.5) rotate(1.5turn);
  }
  100% {
    transform: scale(0) rotate(3.5turn);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes closer {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes closer {
  0% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
}

h1 {
  font-size: 25px;
  margin: 45px 15px 25px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

h2, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.homepage #disabled {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: whitesmoke;
}

.loading-spinner {
  position: fixed;
  align-self: center;
  z-index: 1001;
  top: 50%;
}

.circles-row-1, .circles-row-3 {
  text-align: center;
  margin-bottom: 0;
}
.circles-row-2 i {
  margin: 0 10px;
}
.circles-row-3 i {
  margin: 7px 4px;
}
.circles__1 {
  color: blue;
}
.circles__2 {
  color: #9356DC;
}
.circles__3 {
  color: #FF76DA;
}
.circles__4 {
  color: #99E2D0;
}
.circles__5 {
  color: #2c9c81;
}

/* ombres pour les cartes */
.shadowed {
  box-shadow: 2px 5px 9px rgba(44, 44, 44, 0.2);
}

header {
  text-align: center;
  box-shadow: 0 3px 7px rgba(44, 44, 44, 0.2);
  z-index: 1;
}
header img {
  width: 180px;
  padding: 20px 0 10px;
}

nav {
  text-align: center;
  background-color: #f9f9f9;
  padding-bottom: 30px;
}
nav p {
  color: grey;
}
nav .location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  font-weight: bold;
  padding: 15px;
}
nav .location p {
  color: #4C4A4A;
}
nav .location i {
  margin-right: 15px;
  font-size: 18px;
  color: #4C4A4A;
}
nav .navbar {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
nav .navbar h1 {
  margin-bottom: 10px;
}

/* BOUTONS*/
.btn {
  font-size: 16px;
  max-width: 200px;
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 30px;
}
.btn:hover {
  opacity: 0.7;
  box-shadow: 5px 8px 15px #4C4A4A;
}
.btn-order {
  margin: 40px 0;
}
.btn--pink {
  color: white;
  background: linear-gradient(to right bottom, #FF76DA, #9356DC);
}
.btn-like {
  border: none;
  background: none;
  cursor: pointer;
}
.btn-like .fa-solid {
  background-image: linear-gradient(to bottom, #9356DC, #FF76DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

/* ====== HOMEPAGE  ====== */
/* ETAPES */
.steps {
  margin-bottom: 70px;
}
.steps ul {
  padding-left: 0;
}
.steps li {
  display: flex;
  align-items: center;
  width: 95%;
  margin-bottom: 20px;
  padding-left: 5px;
}
.steps-number {
  background-color: #9356DC;
  border-radius: 100%;
  color: white;
  padding: 2px 8px;
  position: relative;
  left: 13px;
}
.steps-name {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: #f9f9f9;
  padding: 30px 20px;
  font-weight: bold;
  font-size: 17px;
}
.steps-name i {
  margin-left: 5%;
  margin-right: 8%;
  font-size: 20px;
  color: #959595;
}
.steps-name:hover {
  background-color: #f2eafb;
}
.steps-name:hover i {
  color: #9356DC;
}

.steps h1, .result h1 {
  margin: 45px 5% 25px;
}

/*RESULTAT*/
.result {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
}

.result-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.result-list__card {
  position: relative;
  width: 90%;
  height: 260px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}
.result-list__card:hover {
  opacity: 0.9;
}
.result-list__card img {
  width: 100%;
  height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.result-list__card .tag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  height: 20%;
}
.result-list__card .tag a {
  width: 80%;
}
.result-list__card .tag .nametag {
  width: 100%;
}
.result-list__card .tag h2 {
  margin-bottom: 6px;
}
.result-list__card .tag i {
  font-size: 25px;
}
.result-list__card .tag .fa-solid {
  position: absolute;
  right: 18px;
}
.result-list__card .newtag {
  display: none;
}

.new .newtag {
  display: block;
  position: absolute;
  color: #2c9c81;
  font-weight: bold;
  background-color: #99E2D0;
  padding: 6px 10px;
  top: 15px;
  right: 12px;
}

/*FOOTER*/
footer {
  width: 100%;
  color: white;
  background-color: #4C4A4A;
}
footer h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  margin-bottom: 15px;
  padding-left: 25px;
  padding-top: 15px;
}
footer ul {
  margin-bottom: 40px;
  padding-left: 25px;
}
footer ul li {
  margin-bottom: 8px;
}
footer ul li:hover {
  text-decoration: underline;
}
footer ul i {
  margin-right: 15px;
  width: 10px;
  font-size: 15px;
}

/* == PAGES RESTAURANTS == */
/* MENUS */
header a {
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.restaurant-image img {
  height: 290px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  position: absolute;
}

.menu {
  border-radius: 50px 50px 0 0;
  padding: 30px 20px;
  margin-top: 230px;
  z-index: -2;
  background-color: #f9f9f9;
}
.menu h1 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-weight: 100;
  font-size: 28px;
}
.menu h2 {
  font-weight: 350;
  margin: 40px 0 5px;
}
.menu .border {
  background-color: #99E2D0;
  height: 2px;
  width: 50px;
  margin-bottom: 20px;
}
.menu .restaurant-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu .restaurant-name i {
  font-size: 30px;
  margin-right: 15px;
}
.menu .restaurant-name .fa-solid {
  position: absolute;
  right: 26px;
}
.menu article {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  min-height: 70px;
  margin-bottom: 20px;
}
.menu article .dish-content {
  width: 90%;
  height: 100%;
  padding: 10px 10px 0 10px;
  overflow: hidden;
}
.menu article h3 {
  margin: 0;
  text-overflow: ellipsis;
}
.menu article .tag {
  display: flex;
  justify-content: space-between;
}
.menu article .tag__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu article .tag__price {
  font-weight: 500;
}
.menu article .order-add {
  overflow: hidden;
  background: #99E2D0;
  border-radius: 0 20px 20px 0;
}
.menu article .order-add i {
  position: relative;
  font-size: 25px;
  width: 100%;
  top: 35%;
  text-align: center;
  color: white;
}

.btn-order {
  text-align: center;
  margin-top: 60px;
}
.btn-order .btn {
  padding: 15px 12%;
}

/* ====== VERSION TABLETTE ====== */
@media screen and (min-width: 768px) and (max-width: 1023px) and (min-width: 845px) {
  .steps ul {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .steps h1, .result h1 {
    margin: 45px 4% 25px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .result-list {
    justify-content: space-evenly;
  }
  .result-list__card {
    width: 40%;
    margin-bottom: 40px;
  }
}
/* ====== VERSION DESKTOP ====== */
@media screen and (min-width: 1024px) {
  html {
    min-height: 768px;
  }

  main {
    height: 100%;
  }

  .steps {
    margin-bottom: 40px;
  }
  .steps ul {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
  }
  .steps ul li {
    width: 30%;
  }
  .steps ul .steps-name {
    padding: 10px 20px;
  }

  .steps h1, .result h1 {
    margin: 45px 2% 25px;
  }

  .result-list {
    justify-content: space-evenly;
  }
  .result-list__card {
    width: 23%;
  }

  .restaurant-image img {
    height: 450px;
  }

  .menu {
    height: 100%;
    margin-top: 400px;
  }
  .menu .set {
    display: flex;
    justify-content: space-between;
  }
  .menu .restaurant-name {
    width: 100%;
  }
  .menu .set-list {
    width: 30%;
  }
  .menu article {
    min-height: 90px;
  }
  .menu .dish-content {
    align-self: center;
  }

  .btn-order {
    align-self: center;
  }
  .btn-order .btn {
    padding: 15px 5%;
  }
}/*# sourceMappingURL=style.css.map */