@import "utils/variables";
@import "utils/anim";

body{
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
}

h1{
  font-size: 25px;
  margin: 45px 15px 25px;
}
h2{
  font-size: 20px;
}
p{
  font-size: 18px;
}

h2, p{
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style-type: none;
}

.homepage{
  #disabled{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: whitesmoke;
  }
}

.loading-spinner{
  position: fixed;
  align-self: center;
  z-index: 1001;
  top: 50%;
}

.circles{
  &-row-1, &-row-3{
    text-align: center;
    margin-bottom: 0;
  }
  &-row-2 i{
    margin: 0 10px;
  }
  &-row-3 i{
    margin: 7px 4px;
  }
  &__1{
    color: blue;
  }
  &__2{
    color: $color-primary;
  }
  &__3{
    color: $color-secondary;
  }
  &__4{
    color: $color-tertiary;
  }
  &__5{
    color: darken($color-tertiary, 35%);
  }
}

/* ombres pour les cartes */
.shadowed{
  box-shadow: 2px 5px 9px $shadow;
}

header{
  text-align: center;
  box-shadow: 0 3px 7px $shadow;
  z-index: 1;
  img{
    width: 180px;
    padding: 20px 0 10px;
  }
}

nav{
  text-align: center;
  background-color: $grey;
  padding-bottom: 30px;
  p{
    color: grey;
  }
  .location{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darken($grey, 5%);
    font-weight: bold;
    padding: 15px;
    p{
      color: $dark-grey;
    }
    i{
      margin-right: 15px;
      font-size: 18px;
      color: $dark-grey;
    }
  }
  .navbar{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h1{
      margin-bottom: 10px;
    }
  }
}

/* BOUTONS*/

.btn{
  font-size: 16px;
  max-width: 200px;
  padding: 15px 20px;
  margin: 20px 0;
  border-radius: 30px;
  &:hover{
    opacity: 0.7;
    box-shadow: 5px 8px 15px $dark-grey;
  }
  &-order{
    margin: 40px 0;
  }
  &--pink{
    color: white;  
    background: linear-gradient(to right bottom, $color-secondary, $color-primary);
  }
  &-like{
    border: none;
    background: none;
    cursor: pointer;
    .fa-solid{
      background-image: linear-gradient(to bottom, $color-primary, $color-secondary);
      background-clip: text;
      color: transparent;
    }
  }
}

/* ====== HOMEPAGE  ====== */

/* ETAPES */

.steps{
  margin-bottom: 70px;
  ul{
    padding-left: 0;
  }
  li{
    display: flex;
    align-items: center;
    width: 95%;
    margin-bottom: 20px; 
    padding-left: 5px;
  }
  
  &-number{
    background-color: $color-primary;
    border-radius: 100%;
    color: white;
    padding: 2px 8px;
    position: relative;
    left: 13px;
  }

  &-name{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-color: $grey;
    padding: 30px 20px;
    font-weight: bold;
    font-size: 17px;
    i{
      margin-left: 5%;
      margin-right: 8%;
      font-size: 20px;
      color: #959595;
    }
    &:hover{
      background-color: lighten($color-primary, 35%);
      i{
        color: $color-primary;
      }
    }
  }
}

.steps, .result{
  h1{
    margin: 45px 5% 25px;
  }
}

/*RESULTAT*/

.result{
  background-color: $grey;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
}

.result-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__card{
    position: relative;
    width: 90%;
    height: 260px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
  &:hover{
    opacity: 0.9;
  }
    img{
      width:100%;
      height: 70%;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
    .tag{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
      height: 20%;
      a{
        width: 80%;
      }
      .nametag{
        width: 100%;
      }
      h2{
        margin-bottom: 6px;
      }
      i{
        font-size: 25px;
      }
      .fa-solid{
        position: absolute;
        right: 18px;
      }
    }
    .newtag{
      display:none;
    }

  }
}

.new{
  .newtag{
    display: block;
    position: absolute;
    color: darken($color-tertiary, 35%);
    font-weight: bold;
    background-color: $color-tertiary;
    padding: 6px 10px;
    top: 15px;
    right: 12px;
  }
}

/*FOOTER*/

footer{
  width: 100%;
  color: white;
  background-color: $dark-grey;
  h2{
    font-family: "Shrikhand", cursive;
    font-weight: 100;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-top: 15px;
  }
  ul{
    margin-bottom: 40px;
    padding-left: 25px;
    li{
      margin-bottom: 8px;
      &:hover{
        text-decoration: underline;
      }
    }
    i{
      margin-right: 15px;
      width: 10px;
      font-size: 15px;
    }
  }
}

/* == PAGES RESTAURANTS == */

/* MENUS */

header a{
  font-size: 25px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.restaurant-image{
  img{
    height: 290px;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    position: absolute;
  }
}

.menu{
  border-radius: 50px 50px 0 0 ;
  padding: 30px 20px;
  margin-top: 230px;
  z-index: -2;
  background-color: $grey;
  h1{
    margin: 0;
    font-family: "Shrikhand", cursive;
    font-weight: 100;
    font-size: 28px;
  }
  h2{
    font-weight: 350;
    margin: 40px 0 5px;
  }
  .border{
    background-color: $color-tertiary;
    height: 2px;
    width: 50px;
    margin-bottom: 20px;
  }
  .restaurant-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    i{
      font-size: 30px;
      margin-right: 15px;
    }
    .fa-solid{
      position: absolute;
      right: 26px;
    }
  }

  article{
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    min-height: 70px;
    margin-bottom: 20px;
    .dish-content{
      width: 90%;
      height: 100%;
      padding: 10px 10px 0 10px;
      overflow: hidden;
    }
    h3{
      margin: 0;
      text-overflow: ellipsis;
    }
    .tag{
      display: flex;
      justify-content: space-between;
      &__description{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__price{
        font-weight: 500;
      }
    }
    .order-add{
      overflow: hidden;
      background: $color-tertiary;
      border-radius: 0 20px 20px 0;
      i{
        position: relative;
        font-size: 25px;
        width: 100%;
        top: 35%;
        text-align: center;
        color: white;
      }
    }
  }
}

.btn-order{
  text-align: center;
  margin-top: 60px;
  .btn{
    padding: 15px 12%;
  }
}


/* ====== VERSION TABLETTE ====== */

@media screen and (min-width: 768px) and (max-width:1023px){

  .steps{
    @media screen and(min-width: 845px){
      ul{
        margin-left: auto;
        margin-right: auto;
        width: 95%;
      }
    }
  }

  .steps, .result{
    h1{
      margin: 45px 4% 25px;
    }
  }

  .result-list{
    justify-content: space-evenly;
    &__card{
      width: 40%;
      margin-bottom: 40px;
    }
  }
}

/* ====== VERSION DESKTOP ====== */

@media screen and(min-width: 1024px){
  html{
    min-height: 768px;
  }

  main{
    height: 100%;
  }

  .steps{
    margin-bottom: 40px;
    ul{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
      li{
        width: 30%;
      }
      .steps-name{
        padding: 10px 20px;
      }
    }
  }

  .steps, .result{
    h1{
      margin: 45px 2% 25px;
    }
  }

  .result-list{
    justify-content: space-evenly;
    &__card{
      width: 23%;
    }
  }

  .restaurant-image{
    img{
      height: 450px;
    }
  }
  
  .menu{
    height: 100%;
    margin-top: 400px;
    .set{
      display: flex;
      justify-content: space-between;
    }
    .restaurant-name{
      width: 100%;
    }
    .set-list{
      width: 30%;
    }
    article{
      min-height: 90px;
    }
    .dish-content{
      align-self: center;
    }
  }
  .btn-order{
    align-self: center;
    .btn{
      padding: 15px 5%;
    }
  }
}