@import "variables";

.homepage{
  #disabled{
    animation: fadeOut $loading-time $loading-delay linear both;
  }
}

.loading-spinner{
  animation: loading-spinner $loading-time $loading-delay linear both;
}

.btn-like{
    .fa-solid{
      transform: scale(0);
      transition: transform 500ms;
    }
    &:hover, &:focus{
      .fa-solid{
        transform: scale(1);
      }
    }
}

.dish{
  .order-add{
    width: 0;
    transition: width $order-pop 100ms;
    i{
      transform: rotate(0deg);
      transition: transform $order-pop;
    }
  }
  &:hover{
    .order-add{
      width: 70px;
      i{
        transform: rotate(360deg);
      }
    }
  }
  &__1{
    animation: fadeIn 1s linear both, closer 1s linear both;
  }
  &__2{
    animation: fadeIn 1s 300ms linear both, closer 1s linear both;
  }
  &__3{
    animation: fadeIn 1s 600ms linear both, closer 1s linear both;
  }
  &__4{
    animation: fadeIn 1s 900ms linear both, closer 1s linear both;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0.9;
  }

  70%{
    opacity: 0.9;
  }

  80%{
    opacity: 0.6;
  }

  99%{
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes loading-spinner{
    0% {
      transform: scale(0.5) rotate(0turn);
    }

    50%{
      transform: scale(1.5) rotate(1.5turn);
    }

    100%{
      transform: scale(0) rotate(3.5turn);
    }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes closer{
  0%{
    transform: translateY(20%);
  }

  100%{
    transform: translateY(0);
  }
}


